@(contact: models.persons.Contact)
<div class="span6">
	<fieldset class="detail">
		<legend>Kontaktdaten</legend>
		<div class="row">
			<div class="span1"><label>Telefon privat:</label></div>
			<div class="span2" id="phoneHome">@contact.phoneHome</div>
			<div class="span1"><label>Telefon dienstl.:</label></div>
			<div class="span2" id="phoneOffice">@contact.phoneOffice</div>
		</div>
		<div class="row">
			<div class="span1"><label>Mobil:</label></div>
			<div class="span5" id="mobile">@contact.mobile</div>
		</div>
			<div class="row">
			<div class="span1"><label>EMail:</label></div>
			<div class="span5" id="email">@contact.email</div>
		</div>
		<div class="row">
			<div class="span6"><button id="change-contact">Ändern</button></div>
		</div>
	</fieldset>
</div>

