@(membershipPerson: (models.memberships.Membership,models.persons.Person,models.persons.Address, List[models.finance.Account]))

@main("Welcome to Play 2.0") {
	<hr />
	<h1>@membershipPerson._1.membershipId @membershipPerson._2.lastname,@membershipPerson._2.firstname</h1>
	<hr />

	<div class="span-12">
		<fieldset>
			<legend>Mitgliedsdaten</legend>
			<div class="span-2"><label>Anrede:</label></div>
			<div class="span-3">@membershipPerson._2.salutation</div>
			<div class="span-2"><label>Titel:</label></div>
			<div class="span-2">@membershipPerson._2.title</div><br />
			<div class="span-2"><label>Vorname:</label></div>
			<div class="span-2">@membershipPerson._2.firstname</div><br />
			<div class="span-2"><label>Zuname:</label></div>
			<div class="span-2">@membershipPerson._2.lastname</div><br />
			<div class="span-2"><label>Geburtstag:</label></div>
			<div class="span-2">@membershipPerson._2.birthday</div>

		</fieldset>
	</div>

	<div class="span-12 last">
		<fieldset>
			<legend>Adresse</legend>
			<div class="span-2"><label>Straße:</label></div>
			<div class="span-2">@membershipPerson._3.street @membershipPerson._3.number</div> <br />
			<div class="span-2"><label>PLZ:</label></div>
			<div class="span-2">@membershipPerson._3.zip</div> <br />
			<div class="span-2"><label>Ort:</label></div>
			<div class="span-2">@membershipPerson._3.city</div> <br />
			<div class="span-2"><label>RSV seit:</label></div>
			<div class="span-2">12.09.2011</div>

		</fieldset>
	</div>


	<div class="span-24 last">
		<fieldset>
			<legend>Mitgliedschaft</legend>
			<label>Eintritt:</label> @membershipPerson._1.begin_ms			
			<label>Austritt:</label> @membershipPerson._1.end_ms
			<label>Beitr.Grp.:</label> @membershipPerson._1.contrib
		</fieldset>
	</div>

	<div class="span-12">
		<fieldset>
			<legend>Konto</legend>

		    <table summary="This is the summary text for this table."  border="0" cellspacing="0" cellpadding="0">
		    	<caption><em>Einzahlungen und Belastungen</em></caption>
		        <thead>
		        	<tr>
		            	<th class="span-4">Datum</th>
		            	<th class="span-4">Betreff</th>
		              	<th class="span-4 last" ><div align="right">Betrag</div></th>
		            </tr>
		        </thead>
		        <tfoot>
		        	<tr>
		            	<td colspan="3"><div align="right">@membershipPerson._4.foldLeft(scala.math.BigDecimal(0))((f:scala.math.BigDecimal,p:models.finance.Account) => f+p.amount)</div></td>
		            </tr>
		        </tfoot>
		        <tbody>
					@for(posting <- membershipPerson._4) {
			            <tr>
		    	          <td>@posting.posted</td>
		        	      <td>@posting.postingtext</td>
		            	  <td><div align="right">@posting.amount</div></td>
		            	</tr>
		            }
		         </tbody>
		    </table>
		</fieldset>
	</div>

	<div class="span-12 last">
		<fieldset>
			<legend>Memo</legend>
			<p>Dies soll das Memo werden</p>
			<label></label>  <br />		
			<label></label>  <br />		
			<label></label>  <br />		
			<label></label>  <br />		
			<label></label>  <br />		
		</fieldset>	
	</div>


	<div class="span-10" >
		<a href="@routes.Memberships.list()">Zurück</a>
	</div>
	<div class="span-14 last" />
}