@(membershipPerson: (models.memberships.Membership,models.persons.Person,models.persons.Address, List[models.finance.Account], Option[models.persons.LegalProtectionInsurance],models.persons.Contact), changeMembershipForm: Form[models.memberships.ChangeMembership],changePersonForm: Form[models.memberships.ChangePerson],defaultData: Map[String,List[String]])


@import helper._
@import helper.twitterBootstrap._
@import java.util.Date

@main("Welcome to Play 2.0") {
	<div class="span-24">
		<hr />
		<h1 class="good" ><span id="membershipid">@membershipPerson._1.membershipId</span> <span>@membershipPerson._2.lastname, @membershipPerson._2.firstname</span></h1>
		<img id="loading" src="/public/images/loading.gif" style="display:none;">
		<hr />
	</div>
	@detailsPerson(membershipPerson._2)
	@detailsAddresses(membershipPerson._3,membershipPerson._5)
	@detailsMembership(membershipPerson._1)
	@detailsContact(membershipPerson._6)
	@detailsAccount(membershipPerson._4)
	@detailsMemo()

	<div class="span-12" >
		<a href="@routes.Memberships.list()">Zurück</a>
	</div>
	<div class="span-12 last" />

<div id="change-person-dialog" title="Personendaten ändern">
  <!-- p class="validateTips">All form fields are required.</p -->

  <form>
  <fieldset>
    @helper.select(changePersonForm.fill(models.memberships.ChangePerson(membershipPerson._2.salutation,"","","",None))("salutation_dialog"),options(defaultData.getOrElse("salutations",List())), '_label -> "Anrede")

    <!--label for="salutation_input">Anrede</label>
    <select type="text" name="salutation_input" id="salutation_input" class="text ui-widget-content ui-corner-all" value="@membershipPerson._2.salutation">
		@for(opt <- defaultData.getOrElse("salutations",List())) {
        	<option value="@opt">@opt</option>
		}
        <option style="visibility:hidden" selected="selected" value="@membershipPerson._2.salutation" />
    </select -->
    <label for="title_input">Titel</label>
    <select type="text" name="title_input" id="title_input" class="text ui-widget-content ui-corner-all" value="@membershipPerson._2.title">
		@for(opt <- defaultData.getOrElse("titles",List())) {
        	<option value="@opt">@opt</option>
		}
        <option style="visibility:hidden" selected="selected" value="@membershipPerson._2.title" />
	</select><br />
    <label for="firstname_input">Vorname</label>
    <input type="text" name="firstname" id="firstname_input" value="@membershipPerson._2.firstname" class="text ui-widget-content ui-corner-all" />
    <label for="lastname_input">Zuname</label>
    <input type="text" name="lastname" id="lastname_input" value="@membershipPerson._2.lastname" class="text ui-widget-content ui-corner-all" />

    <label for="birthday_input">Geburtstag</label>
    <input type="text" name="birthday_input" id="birthday_input" value="@membershipPerson._2.birthday" class="text date ui-widget-content ui-corner-all" />
  </fieldset>
  </form>
</div>

<div id="change-address-dialog" title="Adresse ändern">
  <p class="validateTips">All form fields are required.</p>

  <form>
  <fieldset>
    <label for="street_input">Straße</label>
    <input type="text" name="street" id="street_input" class="text ui-widget-content ui-corner-all" value="@membershipPerson._3.street"/>
    <label for="number_input">Hausnummer</label>
    <input type="text" name="number_input" id="number_input" value="@membershipPerson._3.number" class="text ui-widget-content ui-corner-all" />
    <label for="zip_input">PLZ</label>
    <input type="text" name="zip_input" id="zip_input" value="@membershipPerson._3.zip" class="text ui-widget-content ui-corner-all" />
    <label for="city_input">Ort</label>
    <input type="text" name="city_input" id="city_input" value="@membershipPerson._3.city" class="text ui-widget-content ui-corner-all" />
  </fieldset>
  </form>
</div>

<div id="change-contact-dialog" title="Adresse ändern">
  <p class="validateTips">All form fields are required.</p>

  <form>
  <fieldset>
    <label for="phoneHome_input">Tel. privat</label>
    <input type="text" name="phoneHome" id="phoneHome_input" class="text ui-widget-content ui-corner-all" value="@membershipPerson._6.phoneHome"/>
    <label for="phoneOffice_input">Tel. dienstl.</label>
    <input type="text" name="phoneOffice_input" id="phoneOffice_input" value="@membershipPerson._6.phoneOffice" class="text ui-widget-content ui-corner-all" />
    <label for="mobile_input">PLZ</label>
    <input type="text" name="mobile_input" id="mobile_input" value="@membershipPerson._6.mobile" class="text ui-widget-content ui-corner-all" />
    <label for="email_input">Ort</label>
    <input type="text" name="email_input" id="email_input" value="@membershipPerson._6.email" class="text ui-widget-content ui-corner-all" />
  </fieldset>
  </form>
</div>

<div id="change-membership-dialog" title="Mitgliedschaft ändern">
  <form>
  <fieldset>
    @helper.inputDate(changeMembershipForm.fill(models.memberships.ChangeMembership(membershipPerson._1.begin_ms,None, "0"))("begin_ms_dialog"), args= 'class -> "date", '_label -> "Eintritt") 
    @helper.inputDate(changeMembershipForm.fill(models.memberships.ChangeMembership(new java.util.Date(), membershipPerson._1.end_ms, "0"))("end_ms_dialog"), args= 'class -> "date", '_label -> "Austritt")  
    @helper.inputText(changeMembershipForm.fill(models.memberships.ChangeMembership(new java.util.Date(), None, membershipPerson._1.contrib.toString))("contrib_dialog"), args= 'class -> "text", '_label -> "Beitr.Grp.")   
  </fieldset>
  </form>
</div>

}
