@(newMembershipForm: Form[models.memberships.NewMembership])

@import helper._
@import helper.twitterBootstrap._

@main("New") {
    @helper.form(action = routes.Memberships.submit) {
        @helper.inputText(newMembershipForm("membershipid"),'_error -> newMembershipForm.globalError) 
        @helper.inputDate(newMembershipForm("begin"))   
        @helper.inputText(newMembershipForm("name"))   
        <input type="submit" class="btn primary" value="Sign Up">
        <a href="@routes.Application.index" class="btn">Cancel</a>
    }
}