@(memberships: Seq[(models.memberships.Membership,models.persons.Person)])(implicit flash: Flash, lang: Lang)

@main("Welcome to Play 2.0") {
	<div>
		<fieldset>
			<legend>Mitgliederbestand</legend>
			<div class="row">
		    	<table id="memberpool" class="table table-striped" summary="This is the summary text for this table."  border="0" cellspacing="0" cellpadding="0">
		    	<caption><em>Mitgliedschaften im Verein</em></caption>
		        <thead>
		        	<tr>
		            	<th><div align="right">Mitgl.-Nr.</div></th>
		            	<th>Zuname</th>
		            	<th>Vorname</th>
		              <th><div align="right">Eintritt</div></th>
		            	<th>Aktion</th>

		            </tr>
		        </thead>
		        <tfoot>
		        	<tr>
		            </tr>
		        </tfoot>
		        <tbody>
					@for(membership <- memberships) {
			            <tr>
		    	          <td><div align="right">@membership._1.membershipId</div></td>
		        	      <td>@membership._2.lastname</td>
		        	      <td>@membership._2.firstname</td>
		            	  <td><div align="right">@membership._1.begin_ms</div></td>
						  <td><a href="@controllers.routes.Memberships.details(membership._1.id)">Details</a></td>
		            	</tr>
		            }
		         </tbody>
		    </table>
		  </div>
		</fieldset>
	</div>
}
