@(premiumAdressList:List[models.persons.PremiumAdress])(implicit flash: Flash, lang: Lang)


@main("Play-Mis") {
	<div class="row">
	  	<div class="span12">

		   	<hr />
  			<h2>Premiumadress</h2>
  			<img id="loading" src="/public/images/loading.gif" style="display:none;">
	      <hr />
	    </div>
    </div>

	<div class="row">
	  	<div class="span12">
	  		<div class="row">
	  			<div class="span8" style="background-color: yellow; height: 40px;">
					<h3>unbekannt verzogen</h3>
  				</div>
  			<div>
  			<div class="row">
  				<div class="span8">
			  		<table id="premiumadress" class="table table-striped" border="0" cellspacing="0" cellpadding="0">
			  			<thead>
			  				<tr>
			  					<td>Mitgl.Nr.</td>
			  					<td>Name</td>
			  					<td>Vorname</td>
			  					<td>Straße</td>
			  					<td>PLZ</td>
			  					<td>Ort</td>
			  				</tr>
			  			</thead>
			  			<tbody>
							@for(pa <- premiumAdressList) {

			  				<tr>
				  				<td>@pa.ms_id</td>
				  				<td>@pa.e_na1</td>
				  				<td>@pa.e_na2</td>
				  				<td>@pa.e_str</td>
				  				<td>@pa.e_plz</td>
				  				<td>@pa.e_ort</td>
				  				<td>@pa.status</td>
				  			</tr>
				  		}
				  		</tbody>
				  	</table>
				<div>
			</div>
		</div>
		<div class="span4">
	  		<table>
	  			<tr>
  					<th>Mitglied-Nr.</th><td>23124</td>
  				</tr>
  				<tr>
  					<th>Name</th><td>Huckebein</td>
  				</tr>
  				<tr>
  					<th>Vorname</th><td>Hans</td>
  				</tr>
  				<tr>
  					<th>Straße</th><td>Rabenweg 2</td>
  				</tr>
  				<tr>
  					<th>PLZ</th><td>66666</td>
  				</tr>
  				<tr>
  					<th>Ort</th><td>Rabenhorst</td>
  				</tr>
  			</table>
  		</div>
  	</div>
}