@(importForm: Form[models.administration.ImportDMBFile])(implicit flash: Flash, lang: Lang)

@import helper._
@import helper.twitterBootstrap._

@main("Import") {
		  	<div>
		  		<button id="openfiledialog">Durchsuchen</button>
		  	</div>

  @helper.form(action = routes.Application.upload, 'enctype -> "multipart/form-data") {
	 	<fieldset>
	 		<legend>Import</legend>

	 		<input type="file" name="premadr/>


		  	@helper.inputText(importForm("filename"),args= 'id -> "fileToUpload", 'type -> "file", 'class -> "text", 'placeholder -> "Import-Datei", '_label -> "Dateiname")  
		  	<div>
		  		<button id="submit">Datei hochladen</button>
		  	</div>
 
		</fieldset>
	}
}