@(title: String)(content: Html)(implicit flash: Flash, lang: Lang)
<!DOCTYPE html>
<html lang="de">
  <head>
    <title>@title</title>  

    <link rel="stylesheet" href=@routes.Assets.at("stylesheets/jquery.datatables.css") type="text/css" />
    <link href=@routes.Assets.at("stylesheets/bootstrap.css") rel="stylesheet" />
    <link href="@routes.Assets.at("stylesheets/bootstrap-responsive.css")" rel="stylesheet" />
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")" />

    <style>
      div.dataTables_length label {
          float: left;
          text-align: left;
      }
             
      div.dataTables_filter label {
          float: right;
          width: 460px;
      }
       
      div.dataTables_info {
          padding-top: 8px;
      }
       
      div.dataTables_paginate {
          float: right;
          margin: 0;
      }
       
      table {
          margin-bottom: 6px !important;
          clear: both;
      }

      fieldset.detail {
        outline: 1px solid;
      }
    </style>

    <script type="text/javascript" language="javascript" src=@routes.Assets.at("javascripts/jquery.js")></script>
    <script type="text/javascript" language="javascript" src=@routes.Assets.at("javascripts/jquery.dataTables.js")></script>
    <script src=@routes.Assets.at("javascripts/bootstrap.min.js")></script>
    <script type="text/javascript" charset="utf-8">
       $(document).ready(function() {
        $.extend( $.fn.dataTableExt.oStdClasses, {
            "sWrapper": "dataTables_wrapper form-inline"
        } );
        $('#memberpool').dataTable({
             "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
             "oLanguage": {
                "sLengthMenu": "Anzeigen von _MENU_ Mitgliedern pro Seite",
                "sZeroRecords": "Keine Mitglieder vorhanden",
                "sInfo": "_START_ . bis _END_ . von _TOTAL_ Mitgliedern",
                "sInfoEmpty": "0. bis 0. von 0 Mitgliedern",
                "sInfoFiltered": "(im Filter von _MAX_ Mitgliedern)",
                "oPaginate": {
                  "sNext": "weiter",
                  "sPrevious": "zurück"
                },
                "sSearch": "Suche:"
              }
        });

        $('#accounts').dataTable( {
          "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>"
        } );

        $('#premiumadress').dataTable( {
          "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>"
        } );

        $(".numeric").keypress(function(event) {
          // Backspace, tab, enter, end, home, left, right,decimal(.)in number part, decimal(.) in alphabet
          // We don't support the del key in Opera because del == . == 46.
          var controlKeys = [8, 9, 13, 35, 36, 37, 39,190];
          // IE doesn't support indexOf
          var isControlKey = controlKeys.join(",").match(new RegExp(event.which));
          // Some browsers just don't raise events for control keys. Easy.
          // e.g. Safari backspace.
          if (!event.which || // Control keys in most browsers. e.g. Firefox tab is 0
            (49 <= event.which && event.which <= 57) || // Always 1 through 9
            //(96 <= event.which && event.which <= 106) || // Always 1 through 9 from number section 
            (48 == event.which && $(this).attr("value")) || // No 0 first digit
            //(96 == event.which && $(this).attr("value")) || // No 0 first digit from number section
            isControlKey) { // Opera assigns values for control keys.
            return;
          } else {
            event.preventDefault();
          }
        });

        $( "#membership_membershipid" ).keyup(function() {
            validateMemberId()
          });
        }
      );

      function validateMemberId() {
        var dest = "/validateid/" + $("#membership_membershipid").val();
        var msid = $("#membership_membershipid").val();
        var dataString = "msid=12345";

        $.ajax( {
          type: "POST",
          url: dest,
          data: dataString,
          dataType: "json",
          beforeSend:function()
          {
            $("#loading").show();
          },
          complete:function()
          {
            $("#loading").hide();
          },        
          success: function(result,status) {
            if (result.exist==0) {
              $("#membership_membershipid").css("border-color","green");
            } else {
              $("#membership_membershipid").css("border-color","red");
            };
          }

        });
      }

      $('#openfiledialog').button().click(function() {
          alert("hello");
          $('<input type="file"/>').attr('value');
      });

    </script>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">

        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">MIS-NG</a>
          <div class="nav-collapse collapse">

            <ul class="nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mitglieder <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="@routes.Memberships.list()">Mitgliedschaften</a></li>
                  <li><a href="@routes.Memberships.form">Neue Mitgliedschaft</a></li>
                  <li class="divider"></li>
                  <li><a href="@routes.FileUploader.premiumForm">Premiumadress</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Verwaltung <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="@routes.FileUploader.uploadForm">Daten importieren</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>

      </div>
    </div>

    <div class="container">
      @if(flash.get("success").isDefined){  
        <div class="alert alert-success">
          @flash.get("success")
        </div>
      }
      @if(flash.get("error").isDefined){ 
        <div class="alert alert-error">
          @flash.get("error")
        </div>
      }

      @content
    </div> <!-- /container -->

  </body>
</html>
